<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<table align="center" bgcolor='#FFDDFF'>
  <tbody>
    <tr id ="painel_botoes">
      <td>
          <button id="signup" value="Tudo">Registrar</button>
          <button id="signin" value="Tudo">Login</button>
      </td>
    </tr>
  </tbody>
</table>
<script src ="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/teste.js"></script>
