<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kanban cozinha</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <style>
  body {
    min-width: 520px;
  }
  .column {
    width: 33%;
    padding-bottom: 100px;
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
    }

    .price {
      color: grey;
      font-size: 22px;
    }
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      opacity: 0.7;
    }
  .container {width: 32.5%; float:left; clear: right;margin:5px; border-radius: 5px; height: 100%;}
  .column {width: 100%;}
  </style>

</head>
<body>
<div class="container" style="background-color:#b5d1fc;">
    <h2>Em espera</h2>
    <div class="column">
        <div id="pedidosEmEspera"></div>
            {%for pedido, valor in dic.items %}
            {%if valor.Estado == '0' %}
            <div class="card">
                <h1>{{valor.Nome_produto}}</h1>
                {% if valor.Tamanho == 1 %}
                    <p>Tamanho: P</p>
                {% endif %}

                {% if valor.Tamanho == 2 %}
                    <p>Tamanho: M</p>
                {% endif %}
                {% if valor.Tamanho > 2 %}
                    <p>Tamanho: G</p>
                {% endif %}
                <p>Quantidade: {{valor.Quantidade}}</p>
                <p>{{valor.Comentario}}</p>

                <form action="{% url 'muda'%}" method= "POST">
                    {% csrf_token %}
                        <input type="hidden"name="ID_restaurante" value="{{valor.ID_restaurante}}">
                        <input type="hidden" name="Transicao" , value="1">
                        <input type="hidden" name="ID", value="{{valor.ID}}" >
                    <button type="submit" onload="true">Comecar a preparar</button>
                </form>
            </div>
            {% endif %}
        {%endfor%}
    </div>
</div>

<div class="container" style="background-color:#5494f9;">
    <h2>Em Andamento</h2>
    <div class="column">
        {%for pedido, valor in dic.items %}
            {%if valor.Estado == '1' %}
                <div class="card">
                    <h1>{{valor.Nome_produto}}</h1>
                    {% if valor.Tamanho == 1 %}
                        <p>Tamanho: P</p>
                    {% endif %}

                    {% if valor.Tamanho == 2 %}
                        <p>Tamanho: M</p>
                    {% endif %}
                    {% if valor.Tamanho > 2 %}
                        <p>Tamanho: G</p>
                    {% endif %}
                    <p>Quantidade: {{valor.Quantidade}}</p>
                    <p>{{valor.Comentario}}</p>
                    <form action="{% url 'muda'%}" method= "POST">
                        {% csrf_token %}
                            <input type="hidden"name="ID_restaurante" value="{{valor.ID_restaurante}}">
                            <input type="hidden" name="Transicao" , value="2">
                            <input type="hidden" name="ID", value="{{valor.ID}}" >
                        <button type="submit" onload="true">Entregar Pedido</button>
                    </form>
                </div>
            {% endif %}
        {%endfor%}
      </div>
    </div>
</div>

<div class="container" style="background-color:#b5d1fc;">
    <h2>Pronto</h2>
    <div class="column">
        {%for pedido, valor in dic.items %}
            {%if valor.Estado == '2' %}
            <div class="card">
                <h1>{{valor.Nome_produto}}</h1>
                {% if valor.Tamanho == 1 %}
                    <p>Tamanho: P</p>
                {% endif %}

                {% if valor.Tamanho == 2 %}
                    <p>Tamanho: M</p>
                {% endif %}
                {% if valor.Tamanho > 2 %}
                    <p>Tamanho: G</p>
                {% endif %}
                <p  class="price">Entregar Mesa: {{valor.Mesa}}</p>

            </div>
            {% endif %}
        {%endfor%}
      </div>
    </div>
    <div>
      {%for pedido, valor in dic.items %}
        {%if pedido == 0 %}
          <form action="{% url 'envia_mesas'%}" method= "GET">
              {% csrf_token %}
              <input type="hidden" name="ID_restaurante", value="{{valor.ID_restaurante}}" >
              <button type="submit" class="btn btn-primary btn-lg btn-block">Caixa</button>
          </form>
          {% endif %}
      {% endfor %}
      <form action="{% url 'login'%}" method= "POST">
          {% csrf_token %}
          <button type="submit" class="btn-lg btn-block btn-primary"onload="true">SAIR</button>
      </form>

   </div>
</div>


</body>
</html>
