<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

{% block content %}
        <center> <h2>Escolha uma opção</h2> </center> 
        {% if ID_restaurante == -1 %}
            <h2>Restaurante ainda não cadastrado!!</h2>
            <h2>Favor cadastrar um novo restaurante no aplicativo!!</h2>
        {% endif %}

        {% if ID_restaurante != -1 %}
                <form action="{% url 'envia'%}" method= "GET">
                    {% csrf_token %}
                    <input type="hidden" name="ID_restaurante", value="{{ID_restaurante}}" >
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Cozinha</button>
                </form>

                <form action="{% url 'envia_mesas'%}" method= "GET">
                    {% csrf_token %}
                    <input type="hidden" name="ID_restaurante", value="{{ID_restaurante}}" >
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Caixa</button>
                </form>

        {% endif %}
        <form action="{% url 'login'%}" method= "POST">
            {% csrf_token %}
            <button type="submit" class="btn-lg btn-block btn-primary"onload="true">SAIR</button>
        </form>
{% endblock content %}
